.header {
  background-color: rgba(11, 72, 107, 0.77);
  border: 3px solid rgba(56, 162, 162, 0.89);
  padding: 15px;
}

.side-bar {
  background-color: rgba(168, 219, 168, 0.81);
  border: 3px solid rgba(56, 162, 162, 0.89);
  padding: 15px;
}

.second-header {
  background-color: rgba(207, 240, 158, 0.64);
  border: 3px solid rgba(56, 162, 162, 0.89);
  padding: 15px;
}

.left-col {
background-color: rgba(168, 219, 168, 0.3);
border: 3px solid rgba(56, 162, 162, 0.89);
padding: 15px;
}

.right-col {
  background-color: rgba(168, 219, 168, 0.3);
  border: 3px solid rgba(56, 162, 162, 0.89);
  padding: 15px;
}

.below {
  background-color: rgba(59, 134, 134, 0.47);
  border: 3px solid rgba(56, 162, 162, 0.89);
  padding: 15px;
}
